<h4>New Pin</h4>

<% if (@pin.errors.any?) %>
	<% @pin.errors.full_messages.each do |error| %>
	<p style="color:red;">
		<%= error %>
	</p>
	<% end %>
<% end %>

<%= form_for @pin do |f| %>
	<%= f.label "Comment" %>
	<%= f.text_field :comment %><br />
	<%= f.label "Image Url" %>
	<%= f.text_field :url %><br />
	<%= f.submit "Create Pin" %>
<% end %>