<h4>New Pin</h4>

<%= form_for @pin do |f| %>
    <%= f.label "URL" %>
    <%= f.text_field :url %><br />
    <%= f.label "Comment" %>
    <%= f.text_field :comment %><br />
    <%= f.submit "New Pin" %>
<% end %>